*.log
*.pdb
*.obj
*.svn

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.ipch
*.zip
myjingle.IAB
myjingle.IAD
myjingle.IMB
myjingle.IMD
MyJingle.opensdf
myjingle.PFI
myjingle.PO
myjingle.PR
myjingle.PRI
myjingle.PS
MyJingle.sdf
MyJingle1229/
MyJingle161223(1).vsp
MyJingle161223(2).vsp
MyJingle161223.vsp
bash.exe.stackdump
References/libogg/aclocal.m4
References/libogg/AUTHORS
References/libogg/CHANGES
References/libogg/compile
References/libogg/config.guess
References/libogg/config.h.in
References/libogg/config.sub
References/libogg/configure
References/libogg/configure.in
References/libogg/COPYING
References/libogg/depcomp
References/libogg/doc/fish_xiph_org.png
References/libogg/doc/framing.html
References/libogg/doc/index.html
References/libogg/doc/libogg/bitpacking.html
References/libogg/doc/libogg/datastructures.html
References/libogg/doc/libogg/decoding.html
References/libogg/doc/libogg/encoding.html
References/libogg/doc/libogg/general.html
References/libogg/doc/libogg/index.html
References/libogg/doc/libogg/Makefile.am
References/libogg/doc/libogg/Makefile.in
References/libogg/doc/libogg/ogg_iovec_t.html
References/libogg/doc/libogg/ogg_packet.html
References/libogg/doc/libogg/ogg_packet_clear.html
References/libogg/doc/libogg/ogg_page.html
References/libogg/doc/libogg/ogg_page_bos.html
References/libogg/doc/libogg/ogg_page_checksum_set.html
References/libogg/doc/libogg/ogg_page_continued.html
References/libogg/doc/libogg/ogg_page_eos.html
References/libogg/doc/libogg/ogg_page_granulepos.html
References/libogg/doc/libogg/ogg_page_packets.html
References/libogg/doc/libogg/ogg_page_pageno.html
References/libogg/doc/libogg/ogg_page_serialno.html
References/libogg/doc/libogg/ogg_page_version.html
References/libogg/doc/libogg/ogg_stream_check.html
References/libogg/doc/libogg/ogg_stream_clear.html
References/libogg/doc/libogg/ogg_stream_destroy.html
References/libogg/doc/libogg/ogg_stream_eos.html
References/libogg/doc/libogg/ogg_stream_flush.html
References/libogg/doc/libogg/ogg_stream_flush_fill.html
References/libogg/doc/libogg/ogg_stream_init.html
References/libogg/doc/libogg/ogg_stream_iovecin.html
References/libogg/doc/libogg/ogg_stream_packetin.html
References/libogg/doc/libogg/ogg_stream_packetout.html
References/libogg/doc/libogg/ogg_stream_packetpeek.html
References/libogg/doc/libogg/ogg_stream_pagein.html
References/libogg/doc/libogg/ogg_stream_pageout.html
References/libogg/doc/libogg/ogg_stream_pageout_fill.html
References/libogg/doc/libogg/ogg_stream_reset.html
References/libogg/doc/libogg/ogg_stream_reset_serialno.html
References/libogg/doc/libogg/ogg_stream_state.html
References/libogg/doc/libogg/ogg_sync_buffer.html
References/libogg/doc/libogg/ogg_sync_check.html
References/libogg/doc/libogg/ogg_sync_clear.html
References/libogg/doc/libogg/ogg_sync_destroy.html
References/libogg/doc/libogg/ogg_sync_init.html
References/libogg/doc/libogg/ogg_sync_pageout.html
References/libogg/doc/libogg/ogg_sync_pageseek.html
References/libogg/doc/libogg/ogg_sync_reset.html
References/libogg/doc/libogg/ogg_sync_state.html
References/libogg/doc/libogg/ogg_sync_wrote.html
References/libogg/doc/libogg/oggpack_adv.html
References/libogg/doc/libogg/oggpack_adv1.html
References/libogg/doc/libogg/oggpack_bits.html
References/libogg/doc/libogg/oggpack_buffer.html
References/libogg/doc/libogg/oggpack_bytes.html
References/libogg/doc/libogg/oggpack_get_buffer.html
References/libogg/doc/libogg/oggpack_look.html
References/libogg/doc/libogg/oggpack_look1.html
References/libogg/doc/libogg/oggpack_read.html
References/libogg/doc/libogg/oggpack_read1.html
References/libogg/doc/libogg/oggpack_readinit.html
References/libogg/doc/libogg/oggpack_reset.html
References/libogg/doc/libogg/oggpack_write.html
References/libogg/doc/libogg/oggpack_writealign.html
References/libogg/doc/libogg/oggpack_writecheck.html
References/libogg/doc/libogg/oggpack_writeclear.html
References/libogg/doc/libogg/oggpack_writecopy.html
References/libogg/doc/libogg/oggpack_writeinit.html
References/libogg/doc/libogg/oggpack_writetrunc.html
References/libogg/doc/libogg/overview.html
References/libogg/doc/libogg/reference.html
References/libogg/doc/libogg/style.css
References/libogg/doc/Makefile.am
References/libogg/doc/Makefile.in
References/libogg/doc/multiplex1.png
References/libogg/doc/ogg-multiplex.html
References/libogg/doc/oggstream.html
References/libogg/doc/packets.png
References/libogg/doc/pages.png
References/libogg/doc/rfc3533.txt
References/libogg/doc/rfc5334.txt
References/libogg/doc/skeleton.html
References/libogg/doc/stream.png
References/libogg/doc/vorbisword2.png
References/libogg/doc/white-ogg.png
References/libogg/doc/white-xifish.png
References/libogg/include/Makefile.am
References/libogg/include/Makefile.in
References/libogg/install-sh
References/libogg/libogg.spec
References/libogg/libogg.spec.in
References/libogg/ltmain.sh
References/libogg/macosx/English.lproj/InfoPlist.strings
References/libogg/macosx/Info.plist
References/libogg/macosx/Ogg.xcodeproj/project.pbxproj
References/libogg/Makefile.am
References/libogg/Makefile.in
References/libogg/missing
References/libogg/ogg.m4
References/libogg/ogg.pc.in
References/libogg/ogg-uninstalled.pc.in
References/libogg/README
References/libogg/src/Makefile.am
References/libogg/src/Makefile.in
References/libogg/win32/VS2010/libogg_dynamic.sln
References/libogg/win32/VS2010/libogg_dynamic.vcxproj
References/libogg/win32/VS2010/libogg_static.sdf
References/libogg/win32/VS2010/libogg_static.sln
References/libogg/win32/VS2010/libogg_static.vcxproj
References/SoundTest/DirectXFullDuplexAudioDevice.cpp
References/SoundTest/JitterBuffer.cpp
References/SoundTest/JitterBuffer.h
References/SoundTest/Packet.cpp
References/SoundTest/Packet.h
References/SoundTest/Serializer.cpp
References/SoundTest/SoundCapture.cpp
References/SoundTest/SoundCapture.h
References/SoundTest/SoundPlay.cpp
References/SoundTest/SoundRecorder.cpp
References/SoundTest/SoundRecorder.h
References/SoundTest/SoundTest.cpp
References/SoundTest/SoundTest.sdf
References/SoundTest/SoundTest.vcxproj
*.sdf
Dynamic_Debug
*.sdf
References/speex/win32/VS2010/libspeex.sdf
*.pcm
*.pcm*
